.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    padding: 2rem;
    background: var(--foreground);
    color: var(--copy);
    border-radius: var(--border-radius);
}

.form-container form input {
    border-bottom: 1px solid var(--border);
    padding: 0.5rem;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}

.form-container form input:focus {
    outline: none;
    border-bottom: 1px solid var(--copy);
}

.form-container form button {
    padding: 0.5rem 1rem;
    background: var(--foreground);
    color: var(--copy);
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    cursor: pointer;
    width: 100%;
}